<div id="petition-letter" class="flex-h">
  <div id="petition-letter-left" class="flex-h">
    <div id="letter-stamp" class="text-center">
      <p> Thiên </p>
      <p> Vận </p>
      {{{ textVertical yearCreate }}}
      {{{ letterStamp }}}
      <p> Niên </p>
      {{{ textVertical monthCreate }}}
      <p> Nguyệt </p>
      {{{ textVertical dayCreate }}}
      {{{ textVertical col0 }}}
    </div>

    <div>
      {{{ textVertical col1 }}}
    </div>
    
    <div>
      {{{ textVertical col2 }}}
    </div>

    <div>
      {{{ textVertical col3 }}}
    </div>

    <div>
      {{{ textVertical col4 }}}
    </div>

    <div>
      {{{ textVertical col5 }}}
    </div>

    <div>
      {{{ textVertical col6 }}}
    </div>

    <div>
      {{{ textVertical col7 }}}
    </div>

    <div>
      {{{ textVertical col8 }}}
    </div>

    <div>
      {{{ textVertical col9 }}}
    </div>

    <div>
      {{{ textVertical col10 }}}
    </div>

    <div>
      {{{ textVertical col11 }}}
    </div>
  </div>

  <div id="petition-letter-right" class="flex-h">
    <div>
      {{{ textVertical col12 }}}
      {{{ textVertical topDog }}}
      {{{ textVertical familyMembers }}}
    </div>

    <div>
      <p> {{{ textVertical col13_1 }}} </p>
      <p> {{{ textVertical workshipSeason }}} </p>
      <p> {{{ textVertical col13_2 }}} </p>
      <p> {{{ textVertical col13_3 }}} </p> {{!-- replace with actual wish --}}
    </div>

    <div>
      {{{ textVertical workshipPlace }}}
      {{{ textVertical col14 }}}
    </div>

    <div>
      {{{ textVertical col15 }}}
      {{{ textVertical liveAt }}}
    </div>

    <div>
      {{{ textVertical col16 }}}
    </div>

    <div>
      {{{ textVertical col17 }}}
    </div>

  </div>

  <style>
    #petition-letter {
      width: 1280px;
      padding: 2rem;
      font-family: 'Times New Roman', Times, serif;
    }  

    #petition-letter-left {
    }

    #petition-letter-right {
      margin-left: 200px;
      padding-right: 2rem;
    }

    #letter-stamp {
      width: 220px !important;
    }
  </style>
</div>
