<div id="petition-letter" class="flex-h">
  <div id="petition-letter-left" class="flex-h">
    <div id="letter-stamp" class="text-center">
      <p> Thiên </p>
      <p> Vận </p>
      {{{ textVertical yearCreate }}}
      {{{ letterStamp }}}
      <p> Niên </p>
      {{{ textVertical monthCreate }}}
      <p> Nguyệt </p>
      {{{ textVertical dayCreate }}}
      {{{ textVertical col0 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col1 }}}
    </div>
    
    <div class="px-2">
      {{{ textVertical col2 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col3 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col4 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col5 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col6 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col7 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col8 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col9 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col10 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col11 }}}
    </div>
  </div>

  <div id="petition-letter-right" class="flex-h">
    <div class="px-2">
      {{{ textVertical col12 }}}
      {{{ textVertical topDog }}}
      {{{ textVertical familyMembers }}}
    </div>

    <div class="px-2">
      <p> {{{ textVertical col13_1 }}} </p>
      <p> {{{ textVertical workshipSeason }}} </p>
      <p> {{{ textVertical col13_2 }}} </p>
      <p> {{{ textVertical col13_3 }}} </p> {{!-- replace with actual wish --}}
    </div>

    <div class="px-2">
      {{{ textVertical workshipPlace }}}
      {{{ textVertical col14 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col15 }}}
      {{{ textVertical liveAt }}}
    </div>

    <div class="px-2">
      {{{ textVertical col16 }}}
    </div>

    <div class="px-2">
      {{{ textVertical col17 }}}
    </div>

  </div>

  <style>
    #petition-letter {
      width: fit-content;
      height: fit-content;
      padding: 3rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      text-shadow: "2px 2px";
    }  

    #petition-letter-right {
      margin-left: 200px;
    }

    #letter-stamp {
      width: 220px !important;
      margin-right: 50px;
    }
  </style>
</div>
