<div id="petition-letter" class="flex-h">
  <div class="text-center">
    <p> Thiên </p>
    <br>
    <br>
    <p> Vận </p>
    <br>
    <img src="src/assets/img/petition.png" style="width: 200px; height: 200px;">
    <br>
    <br>
    <p> Niên </p>
    <br>
    <br>
    <p> Nguyệt </p>
    <br>
    <br>
    <p> Nhật </p>
    <p> Thần </p>
    <p> Khấu </p>
    <p> Thủ </p>
    <p> Hoà </p>
    <p> Nam </p>
    <p> Bách </p>
    <p> Bái </p>
    <p> Cụ </p>
    <p> Sớ </p>
  </div>

  <div>
    {{{ textVertical col1 }}}
  </div>
  
  <div>
    {{{ textVertical col2 }}}
  </div>

  <div>
    {{{ textVertical col3 }}}
  </div>

  <div>
    {{{ textVertical col4 }}}
  </div>

  <div>
    {{{ textVertical col5 }}}
  </div>

  <div>
    {{{ textVertical col6 }}}
  </div>

  <div>
    {{{ textVertical col7 }}}
  </div>

  <div>
    {{{ textVertical col8 }}}
  </div>

  <div>
    {{{ textVertical col9 }}}
  </div>

  <div>
    {{{ textVertical col10 }}}
  </div>

  <style>
  </style>
</div>
