<div id="vu-lan">
  <section class="flex-v">

    <section class="flex-h">

      <section id="left">
        <strong class="title"> Kính nghe: </strong>
        <p> Tiết Vu Lan trăng tỏ, ngày tự tứ thanh lương </p>
        <p> Trung nguyên lễ tiết là ngày xá tội vong nhân </p>
        <p> Tấu lạy Phật đài mở lượng Từ Bi cứu vớt </p>
        <p> Đền ơn đáp nghĩa </p>
        <p> Nhờ lượng Phật ân cho vong linh được cao đăng Phật quốc </p>
      </section>

      <section id="tam-bao-section" class="flex-v p-3">
        <h1 style="font-size: 2.5rem;" class="text-center"> SỚ VU LAN </h1>
        <div class="center"> {{{ tamBao }}} </div>
      </section>

      <section style="margin-right: 100px;">
        <strong class="title"> Thiết nghĩ: </strong>
        <p> Đạo cháu con ơn sâu phải nhớ </p>
        <p> Hạt thóc kia nhờ cấy mới nên. </p>
        <p> Từ phàm phu cho đến Thánh hiền </p>
        <p> Nếu không Tiên Tổ Mẹ Cha sao có được </p>
        <p> Làm người phải biết đền đáp ơn sâu </p>
        <p> Trả nghĩa tiền sinh, nhớ công cúc dục </p>
        <p> Nước chảy có nguồn, cây xanh có cội. </p>
        <p> Cũng muốn rằng báo đáp thâm ân. </p>
        <p> Lòng những tướng hiếu sinh hậu báo. </p>
      </section>

    </section>

    <section class="flex-h justify-between">

      <section class="flex-v" style="width: 600px;">
        <div>
          <strong class="title"> Chúng con: </strong>
          <p> Động chân bước, một sát na tạo tội muôn vàn </p>
          <p> Tham sân si mạn, sơ sẩy gây oan luỹ kiếp. </p>
          <p> Từ vô thuỷ đã tạo bao ác nghiệp, e lại sinh còn thiếu lắm thiện nhân. </p>
          <p> Ơn Phật Tổ mở hội Vu Lan, mỗi năm dạy lập đàn xá tội. </p>
          <p> Trước bệ ngọc nay cầu sám hối, đối Liên Toà hương giới uy nghi </p>
          <p> Trượng Phật Thừa nương đức từ bi, cầu tăng chúng dắt về giác đạo. </p>
        </div>

        <div>
          <strong class="title"> Nay chúng con là </strong>
          <p> {{{ whoAmI }}} </p>
        </div>

        <div>
          <strong class="title"> Trú tại:  </strong>
          <p> {{{ whereILive }}} </p>
        </div>

        <div>
          <strong class="title"> Nhân tiết Vu Lan cầu siêu tiến cho Chân linh Gia tiên nội ngoại: </strong>
          <p style="margin-right: 100px;"> {{{ whatIWant }}} </p>
        </div>
      </section>

      <section id="right" class="flex-v">
        <div>
          <strong class="title"> Thế mà: </strong>
          <p> Thập Phương Chư Phật phóng hảo quang cứu vớt quần mê </p>
          <p> Di Đà Đạo Sư đưa tay báu đắt về Cực Lạc. </p>
          <p> Tôn Giả Mục Kiền Liên cùng Ngại Địa Tạng </p>
          <p> Dùng gậy vàng phá sạch ngục tối tăm </p>
          <p> Khiến vong linh thoát khỏi cảnh oan khiên </p>
          <p> Tâm hoan hỷ chắp tay quy y Phật. Thuyền Bát Nhã chờ qua Biển Khổ. </p>
          <p> Toà Kim Liên Phật tiếp dắt sang. Thuyết Diệu Pháp dự quá Niết Bàn. </p>
          <p> Ngôi Bất Thoái quyết không xa cách. </p>
        </div>

        <div>
          <strong class="title"> Cúi xin: </strong>
          <p> Trời xanh thăm thẳm, đất rộng mênh mang. </p>
          <p> Tìm đâu ra cho thấy người xưa, chỉ còn thấy những nấm mồ cỏ mọc. </p>
          <p> Luật sinh tử ai hầu thoát được, biết lấy gì báo đáp thâm ân. </p>
          <p> Chỉ còn cách niệm Phật tụng kinh, dâng văn sớ tấu, trình Chư Phật. </p>
          <p> Nam mô Thập Phương Thường Trụ Tam Bảo Chư Phật Kim Liên Toạ Hạ </p>
          <p> Tam Giới Thiên Chúa Tứ Phủ Vạn Linh Liệt Vị Thành Hiền Ngọc Bệ Hạ. </p>
        </div>

        <div>
          <strong class="title"> Lại nguyện: </strong>
          <p> Nhờ Công đức cầu siêu Tiên Tổ, cháu cùng con nơi Dương thế an khang </p>
          <p> Hộ tri Phật Pháp Xương Minh lấy công đức sau cùng sinh Lạc Quốc </p>
        </div>

        <div class="center flex-v">
          <strong> ĐỆ TỬ CHÚNG CON KINH DÂNG VĂN SỚ TẠI </strong>
          <p> {{{ whereISubmit }}} </p>
          <small> Ngày {{{ day }}} Tháng {{{ month }}} Năm {{{ year }}} </small>
        </d>
      </section>

    </section>

  </section>

  <style>
    #vu-lan {
      width: fit-content;
      height: fit-content;
      padding: 3rem;
      font-weight: bold;
      text-shadow: "2px 2px";
    }  

    #tam-bao {
      width: 200px !important;
    }

    #tam-bao-section {
      width: 300px !important;
    }

    #left {
      width: 350px !important;
    }

    #right {
      width: 700px !important;
      margin-left: 150px !important;
    }

    .title {
      font-size: 1.2rem;
    }
  </style>
</div>