<div id="vu-lan">
  <h1 class="center"> SỚ VU LAN </h1>

  <section>
    <strong> Kính nghe: </strong>
    <p> Tiết Vu Lan trăng tỏ, ngày tự tứ thanh lương </p>
    <p> Trung nguyên lễ tiết là ngày xá tội vong nhân </p>
    <p> Tấu lạy Phật đài mở lượng Từ Bi cứu vớt </p>
    <p> Đền ơn đáp nghĩa </p>
    <p> Nhờ lượng Phật ân cho vong linh được cao đăng Phật quốc </p>
  </section>

  <section>
    <strong> Chúng con: </strong>
    <p> Động chân bước, một sát na tạo tội muôn vàn </p>
    <p> Tham sân si mạn, sơ sẩy gây oan luỹ kiếp. </p>
    <p> Từ vô thuỷ đã tạo bao ác nghiệp, e lại sinh còn thiếu lắm thiện nhân. </p>
    <p> Ơn Phật Tổ mở hội Vu Lan, mỗi năm dạy lập đàn xá tội. </p>
    <p> Trước bệ ngọc nay cầu sám hối, đối Liên Toà hương giới uy nghi </p>
    <p> Trượng Phật Thừa nương đức từ bi, cầu tăng chúng dắt về giác đạo. </p>
  </section>

  <section>
    <strong> Nay chúng con là </strong>
    <p> {{{ whoAmI }}} </p>
  </section>

  <section>
    <strong> Trú tại:  </strong>
    <p> {{{ whereILive }}} </p>
  </section>

  <section>
    <strong> Nhân tiết Vu Lan cầu siêu tiến cho Chân linh Gia tiên nội ngoại: </strong>
    <p> {{{ whatIWant }}} </p>
  </section>

  <section>
    {{{ tamBao }}}
  </section>

  <section>
    <strong> Thiết nghĩ: </strong>
    <p> Đạo cháu con ơn sâu phải nhớ </p>
    <p> Hạt thóc kia nhờ cấy mới nên. </p>
    <p> Từ phàm phu cho đến Thánh hiền </p>
    <p> Nếu không Tiên Tổ Mẹ Cha sao có được </p>
    <p> Làm người phải biết đền đáp ơn sâu </p>
    <p> Trả nghĩa tiền sinh, nhớ công cúc dục </p>
    <p> Nước chảy có nguồn, cây xanh có cội. </p>
    <p> Cũng muốn rằng báo đáp thâm ân. </p>
    <p> Lòng những tướng hiếu sinh hậu báo. </p>
  </section>

  <section>
    <strong> Thế mà: </strong>
    <p> Thập Phương Chư Phật phóng hảo quang cứu vớt quần mê </p>
    <p> Di Đà Đạo Sư đưa tay báu đắt về Cực Lạc. </p>
    <p> Tôn Giả Mục Kiền Liên cùng Ngại Địa Tạng </p>
    <p> Dùng gậy vàng phá sạch ngục tối tăm </p>
    <p> Khiến vong linh thoát khỏi cảnh oan khiên </p>
    <p> Tâm hoan hỷ chắp tay quy y Phật. Thuyền Bát Nhã chờ qua Biển Khổ. </p>
    <p> Toà Kim Liên Phật tiếp dắt sang. Thuyết Diệu Pháp dự quá Niết Bàn. </p>
    <p> Ngôi Bất Thoái quyết không xa cách. </p>
  </section>

  <section>
    <strong> Cúi xin: </strong>
    <p> Trời xanh thăm thẳm, đất rộng mênh mang. </p>
    <p> Tìm đâu ra cho thấy người xưa, chỉ còn thấy những nấm mồ cỏ mọc. </p>
    <p> Luật sinh tử ai hầu thoát được, biết lấy gì báo đáp thâm ân. </p>
    <p> Chỉ còn cách niệm Phật tụng kinh, dâng văn sớ tấu, trình Chư Phật. </p>
    <p> Nam mô Thập Phương Thường Trụ Tam Bảo Chư Phật Kim Liên Toạ Hạ </p>
    <p> Tam Giới Thiên Chúa Tứ Phủ Vạn Linh Liệt Vị Thành Hiền Ngọc Bệ Hạ. </p>
  </section>

  <section>
    <strong> Lại nguyện: </strong>
    <p> Nhờ Công đức cầu siêu Tiên Tổ, cháu cùng con nơi Dương thế an khang </p>
    <p> Hộ tri Phật Pháp Xương Minh lấy công đức sau cùng sinh Lạc Quốc </p>
  </section>

  <section>
    <strong> ĐỆ TỬ CHÚNG CON KINH DÂNG VĂN SỚ TẠI {{{ whereISumit }}} </strong>
  </section>

</div>